/* Popup header */

#popup-header {
    /* Dimension */
    width: 100%;
    height: 40px;
  
    /* Color */
    background-color: white;
  
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  
    /* Border */
    border-bottom: 1px solid #e0e0e0;
  }
  
  /* Popup header in swal */
  
  .swal2-popup #popup-header {
    /* Border radius */
    border-radius: 5px 5px 0 0;
  }
  
  /* Header popup type */
  
  #popup-header {
    #popup-header-type {
      /* Dimension */
      height: 100%;
      padding: 0 15px;
  
      /* Flex */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      /* Border */
      border-radius: 5px 20px 20px 0;
      border-right: 1px solid #e0e0e0;
  
      i {
        /* Margin */
        margin-right: 5px;
  
        &.fas {
          /* Dimension */
          width: 24px;
          height: 24px;
  
          /* Flex */
          display: flex;
          justify-content: center;
          align-items: center;
  
          /* Font */
          font-size: 1.16em;
        }
      }
  
      span {
        /* Font size */
        font-size: .9em;
      }
    }
  
    #popup-header-item {
      /* Flex */
      flex-grow: 1;
    }
  
    a.popup-header-btn {
      /* Flex */
      display: flex;
      justify-content: center;
      align-items: center;
  
      /* Border */
      border-radius: 50%;
  
      /* Padding */
      padding: 2px;
  
      /* Position */
      margin-right: 10px;
  
      /* Cursor */
      cursor: pointer;
  
      /* Border */
      border: 1px solid #e0e0e0;
  
      i {
        /* Font */
        font-size: 20px;
      }
    }
  
    #popup-header-statut {
      /* Margin */
      margin: 0 30px 0 10px;
    }
  
    #popup-header-refresh a {
      /* Color */
      background-color: #bdbdbd;
      color: white;
  
      /* Border */
      border: 0px;
    }
  
    #popup-header-close a {
      /* Color */
      background-color: #f44336;
      color: white;
  
      /* Border */
      border: 0px;
    }
  }
  
  #popup-footer {
    /* Dimension */
    width: 100%;
    height: 40px;
  
    /* Color */
    background-color: white;
  
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  
    /* Border */
    border-top: 1px solid #e0e0e0;
    border-radius: 0 0 5px 5px;
  
    > div {
      /* Height */
      height: 100%;
  
      /* Flex */
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  
      /* Pointer */
      cursor: pointer;
  
      i {
        /* User select */
        user-select: none;
      }
  
      &:hover {
        /* Background */
        background-color: rgba(0, 0, 0, 0.1) !important;
      }
    }
  
    #popup-footer-confirm {
      &:hover {
        /* Background */
        background-color: #64dd17 !important;
        border-radius: 0 0 5px 0;
      }
  
      button {
        /* Dimension */
        width: 100%;
        height: 100%;
  
        /* Style */
        border-style: hidden;
  
        /* Color */
        background-color: transparent;
      }
    }
  
    #popup-footer-cancel {
      /* Color */
      background-color: #f44336;
      color: white;
  
      /* Border */
      border-radius: 0 0 0 5px;
    }
  }